 
 <!-- Footer -->
 <% if (member || admin ) { %> 

  <footer class="w3-padding-32 w3-green w3-center w3-margin-top">
  <a href="#"><h5>Arriba</h5></a>  
  
    <div class="w3-xlarge w3-padding-16">
      <i class="fa fa-twitter w3-hover-opacity"></i>
    </div>
    <p>Servidores alimentados con energía regenerativa.</a></p>
  </footer>
  <% } %> 

  </body>
</html>