<!DOCTYPE html>
<html>

<%- include('../partials/_head.ejs')  %>

<body class="w3-content w3-border-left w3-border-right" <!-- Navigation Bar -->
  <div class="w3-bar w3- w3-large">
    <a href="/" class="w3-bar-item w3-button w3-green w3-mobile"><i class="fa fa-bed w3-margin-right"></i>Trustroofs</a>

    <div style="text-align: center;">
      <h1>Error 404</h1>
      <h1>No se ha podido encontrar el recurso.</h1>
    </div>

<%- include('../partials/_footer.ejs') %>

</body>

</html>